
/* default */

*
{
   padding: 0;
   margin: 0;
}

.warp
{
   margin: 0 60px;
}

body
{
   min-width: 1200px;
   background: #F5F5F5;
}

/* Header */

.header
{
   height: 800px;
}

.header_logo
{
   height: 60px;
   margin-right: auto;
}

.header_center
{
   display: flex;
}

.header_content
{
   margin-top: 60px;
   justify-content: space-around;
}

.header_top
{ 
   display: flex;  
}

.header_title
{
   font-family: 'Noto Sans JP', sans-serif;
   font-weight: 500;
   font-size: 90px;
   line-height: 105.8%;
   text-transform: uppercase;
   color: #000000;
   margin-bottom: 200px;
}

.header_bottom
{
   margin-top: -40px;
   display: flex;
   justify-content: space-around;
}

.header_right
{
   margin-top: auto;
   margin-left: auto;
   width: 50px;
   z-index: 10;
}

.header_slider
{
   margin-top: -80px;
   margin-left: -200px;
   width: 877px;
   height: 565px;
}

.header_about
{
   width: 100px;
   margin-right: 150px;
}
.header_link
{
   display: block;
   margin: 20px;
   font-size: 15px;
   text-transform: uppercase;
   color: #000000;
   font-family: 'Noto Sans JP', sans-serif;
   text-decoration: none;
}

/* Body section */

.body
{
   height: 950px;
}

.body_content
{
   display: flex;
   justify-content: space-around;
}

.body_title
{
   font-family: 'Noto Sans JP', sans-serif;
   font-weight: 500;
   font-size: 50px;
   line-height: 174.3%;
   text-transform: uppercase;
   color: #000000;
   margin-top: 50px;
}

.body_info
{
   font-family: 'Noto Sans JP', sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 174.3%;
   letter-spacing: 0.02em;
   text-transform: uppercase;
   color: #000000;
   margin-top: 50px;
}

.body_content_right
{
   position: relative;
   margin-top: 100px;
}

.body_content_image
{
   position: absolute;
   left: 0;
   top: 0;
   margin-top: 400px;
   margin-left: -500px;
}

.body_cards
{
   margin-top: 100px;
}

.body_card_image
{
   height: 249px;
}

.body_card_text
{
   font-family: 'Noto Sans JP', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 174.3%;
   text-transform: uppercase;
   color: #000000;
   margin-top: 30px;
}

/* Button */

.button
{
   font-size: 15px;
   line-height: 105.3%;
   text-transform: uppercase;
   color: #000000;
   background-color: transparent;
   border: none;
   margin-bottom: 10px;
   cursor: pointer;
}

.button_pressed::after
{
   content: "";
   display: block;
   height: 1px;
   width: 70%;
   background: black;
   margin-top: 15%;
}

.header_details_button
{
   font-size: 17px;
   line-height: 105.8%;
   letter-spacing: 0.24em;
   text-transform: uppercase;
   color: #000000;
}

.body_card
{
   background-color: transparent;
   border: none;
   text-align: left;
   cursor: pointer;
   margin: 0 15px;
}

.body_card::before
{
   display: block;
   content: "";
   background: black;
   height: 1px;
   width: 60px;
   margin-bottom: 40px;
}