
/* Body */

body
{
    margin: 0; 
    padding: 0;
    min-width: 1100px;
}

.warp
{
    margin: 0 40px;
}

/* Header */

.header
{
    background-color: #fff;
    padding: 20px 0;
}

.header__top
{
    border-bottom: 0.5px solid black;
    display: flex;
    padding-left: 150px;
}

.header__bottom
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    width: 159px;
    height: 36px;
    margin: 20px 0;
}

.header__center
{
    height: 30px;
    margin: auto;
}

.header__right
{
   height: 30px;
   margin-right: 10px;
}

.header__inner__item
{
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    color: #252930;
    line-height: 62px;
}

.header__inner__content
{
    margin: auto;
}


.header__inner
{
    display: flex;
    justify-content: space-between;
}


/* About */

.about
{
    width: 450px;
    margin: auto;
    display: block
}


.about__item__bottom
{
    margin: 0 30px;
    text-decoration: none;
    color: #252930;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 20,3px;
}

.about__item
{
    margin: 0 30px;
    text-decoration: none;
    color: #252930;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 20,3px;
}

.select__language
{
    background-color: #fff;
    border: 0;
    margin: 0 20px;
    text-decoration: none;
    color: #252930;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 16,3px;
    opacity: 40%;
}

.selected,
.select__language:hover
{
    opacity: 100%;
    cursor: pointer;
}


/* Button */

.button__header
{
    background-color: #fff;
    border: 1px solid #252930;
    box-sizing: border-box;
    border-radius: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.button__header:hover
{
    background: #FF5F00;
    color: #fff;
    border-color: #fff;
}


/* Image */

.city
{
    margin: 0 -40px 0 0;
}
